<div id="<%= dom_id location %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Id:</strong>
    <%= location.id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= location.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Address:</strong>
    <%= location.address %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Nodes:</strong>
    <%= location.nodes %>
  </div>
</div>
